@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
    background: radial-gradient(
    circle at top center,
    hsla(0, 0%, 61%, 0.5) 0%,
    hsla(222, 0%, 0%, 0) 50%,
    hsla(222, 0%, 0%, 0) 100%
    );
}

.hover-reveal {
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: -1;
}
